<div id="agrupar">
    <header id="cabecera">	
        <div id="_contSupIzq">
             <div id="_logo" width="90%">
                <!-- <img src="./assets/images/nucleo-df-new.jpg" height="85%"/> -->
                <img src="./assets/images/Corporativo.png" height="85%" />
             </div>
        </div>
        <div id="_tit_ppal">
            <p translate>{{title}}</p>
            <!-- <div id="_manual" ng-show="false"><a href="" data-ng-click="ctrl.manual()">Manual</a></div> -->
        </div>
        <div id="_contSupDrcha">
            <div id="_hfecha">{{ fechaHora }}</div>
            <div id="_hsolohora"><i translate>Usuario: </i><b>{{ user }}</b></div>
        </div>
     </header>
    
	<nav id="_menu" class="container">
        <h3 translate>Menu General</h3>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a routerLink="/superv" routerLinkActive="active" class="nav-link" translate>Supervision</a>
            </li>
            <li class="nav-item">
                <a routerLink="/test1" routerLinkActive="active" class="nav-link" translate>Configuracion</a>
            </li>
            <li class="nav-item">
                <a routerLink="/test2" routerLinkActive="active" class="nav-link" translate>Mantenimiento</a>
            </li>
            <li class="nav-item">
				<a routerLink="/test3" routerLinkActive="active" class="nav-link"  translate>Acerca de...</a>
            </li>
            <li class="nav-item">
                <a routerLink="/test4" routerLinkActive="active" class="nav-link"  translate>Logout</a>
            </li>
        </ul>
    </nav>

    <section id="_ppal">
		<router-outlet></router-outlet>
    </section>
		
    <footer id="_pie">
        <div class="row">
            <div class="col-md-10">
                Nucleo CC Copyright ©2018..2019 Todos los Derechos Reservados.
				</div>
            <div class="col-md-2">
				Version: {{Version()}}
            </div>
        </div>
    </footer>


</div>

